<div class="container bg-info">
    <div style ="text-align: right;">
    <input type="button" value="Login" class="btn btn-success" (click)="login()">&nbsp;
    <input type="button" value="Logout" class="btn btn-danger" (click)="logout()">
    </div>
    <figure>
        <figcaption><b>{{instituteTitle}}</b></figcaption>
        <!--<img [src]="instituteLogo" [height]="height" [width]="width">-->
    </figure>

</div>

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Trainining Institute</span>
    </mat-toolbar-row>
  </mat-toolbar>